<div class="hide" id="markdownModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog modal-lg" tabindex="-1" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title" id="myModalLabel">Markdown Grammar</h4>
      </div>
      <div class="modal-body">
        <table class="ui two column basic table">
            <thead>
              <tr>
                <th class="ui header">Preview</th>
                <th class="ui header">Use</th>
                <th class="ui header">Shortcut keyboard</th>
              </tr>
            </thead>
            <tbody>
              <!-- h3 -->
              <tr>
                <td><h3>h1 ~ h6 tiêu đề</h3></td>
                <td><pre>#h1, ##h2, ###h3 ... </pre></td>
                <td></td>
              </tr>
              <!-- bold -->
              <tr>
                <td><strong>In đậm</strong></td>
                <td><pre>**In đậm**</pre></td>
                <td>Ctrl/⌘ + B</td>
              </tr>
              <!-- italic -->
              <tr>
                <td><em>In nghiêng</em></td>
                <td><pre>*In nghiêng*</pre></td>
                <td>Ctrl/⌘ + I</td>
              </tr>
              <!-- Strike through -->
              <tr>
                <td><del>Gạch ngang</del></td>
                <td><pre>~~Gạch ngang~~</pre></td>
                <td>Ctrl/⌘ + Alt + U</td>
              </tr>
              <!-- Link -->
              <tr>
                <td><a href="">Link</a></td>
                <td><pre>[Link](http:...)</pre></td>
                <td>Ctrl/⌘ + K</td>
              </tr>
              <!-- Image -->
              <tr>
                <td>(Ảnh)</td>
                <td><pre>![alt](http://link-ảnh)</pre></td>
                <td>Ctrl/⌘ + Shift + I</td>
              </tr>
              <!-- code -->
              <tr>
                <td><code class="inline">code</code></td>
                <td><pre>`code`</pre></td>
                <td>Ctrl/⌘ + Shift + K</td>
              </tr>
              <!-- Code block-->
              <tr>
                <td><pre lang="python"><code class="hljs"><span class="hljs-keyword">import</span> os</code></pre></td>
                <td><pre>```python<br>import os<br>```</pre></td>
                <td></td>
              </tr>
              <!-- list -->
              <tr>
                <td><ul class="ui list"><li>Danh sách</li></ul></td>
                <td><pre>* Danh sách</pre></td>
                <td>Ctrl/⌘ + L</td>
              </tr>
              <!-- Quote -->
              <tr>
                <td><blockquote>Trích dẫn</blockquote></td>
                <td><pre>&gt; Trích dẫn</pre></td>
                <td>Ctrl/⌘ + U</td>
              </tr>
              <!-- Escape -->
              <tr>
                <td>'Escape', *symbol*</td>
                <td><pre>\'Escape\', \*symbol\*</pre></td>
                <td></td>
              </tr>
              <!-- Emoji -->
              <tr>
                <td><img class="emoji" title=":smile:" alt=":smile:" src="https://assets-cdn.github.com/images/icons/emoji/unicode/1f604.png" height="20" width="20" align="absmiddle"></td>
                <td><pre>:smile: </pre></td>
                <td><a target="_blank" href="http://www.emoji-cheat-sheet.com/">All Emoji</a></td>
              </tr>
            </tbody>
          </table>
      </div>
    </div>
  </div>
</div>
