<div class="page-header" style="width:1040px">
  <h1 class="title">Các câu hỏi thường gặp</h1>
</div>
<div class="container" style="width: 1040px">
  <% if Question.all.count.zero? %>
    <p>Đang cập nhật ...</p>
  <% else %>
    <p class="markdown-content"><%= Question.last.content %></p>
  <% end %>
</div>
