@import url('../fonts/font-awesome/css/font-awesome.min.css');

body {
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
  overflow-x: hidden;
  overflow-y: auto;
  font-size: 12px;
  background-image: url("../images/background-home.jpg");
  background-repeat: repeat;
  line-height: 1.42857143;
  color: #333;
  background-color: #fff;
  margin: 0;
}

.header {
  margin: 0;
  padding: 0;
  min-height: initial;
  border: none;
  border-bottom: 1px solid #e2e2e2;
  background-size: 100% 94px;
  background-min-width: 1000px;
  background-repeat: no-repeat;
}

.header>div:nth-child(1) {
  padding: 4px 0;
  background-size: auto 100%;
  background-repeat: repeat-x;
  background-color: #FCE4EC;
}

body>.header>div:nth-child(1) ul li:not(:last-child) {
  border-right: 1px solid rgba(243,243,243,.42);
}

ul.no-signed > li > a {
  color: #FFF;
}

ul.no-signed > li > a:hover {
  text-decoration: none;
}

body>.header>div:nth-child(2) #header-navbar .search {
    margin-top: 15px;
}

.navbar-default .navbar-collapse, .navbar-default .navbar-form {
    border-color: #e7e7e7;
}

body>.header>div:nth-child(2) #header-navbar .search .form-group input {
    width: 145px;
    background: none;
    box-shadow: none;
    border: 2px solid #f15d69;
    border-right: none;
    color: #000;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    border-right: 10px solid #f15d69;
    opacity: .5;
    font-size: 12px;
}

body>.header>div:nth-child(2) #header-navbar .search button[type=submit] {
    height: 34px;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    background: #f15d69;
    border-color: #f15d69;
    color: #fff;
}

#search-text {
  height: 34px;
}

.btn-search {
  margin-bottom: 30px;
  margin-right: 75px;
  width: 30px;
}

.title {
  display: inline-block;
  height: 37px;
  line-height: 37px;
  margin: 0;
  border-bottom: 3px solid #23d1b7;
  font-size: 24px;
}

body>.header>div:nth-child(2) #header-navbar .navbar-nav li a {
    height: 60px;
    padding: 15px 14px;
    text-align: center;
    color: #908685;
}

body>.header>div:nth-child(2) #header-navbar .navbar-nav li a:hover {
   color: #23d1b7;
}

body>.header>div:nth-child(2) #header-navbar .navbar-nav li a .fa {
    display: block;
    height: 20px;
    font-size: 20px;
}

body>.header>div:nth-child(2) #header-navbar .navbar-nav li a span {
    display: block;
}

.zone-content .banner {
    height: 303px;
    background: url(../images/focus_bg_blue.png) no-repeat center top;
    margin-bottom: 34px;
}

.zone-content .banner .banner-con {
    width: 1070px;
    height: 100%;
    margin: 0 auto;
    position: relative;
    z-index: 998;
}

body>.header>div:nth-child(2) .navbar-brand {
    height: 60px;
    padding-top: 8px;
    padding-bottom: 8px;
    padding-left: 0;
    padding-right: 10px;
}
body>.header>div:nth-child(2) .navbar-brand img {
    height: 100%;
}
.navbar-brand>img {
    display: block;
}
img {
    vertical-align: middle;
    border: 0;
}

.btn05 {
    color: #FFF;
    line-height: 28px;
    font-weight: bold;
    width: 114px;
    height: 31px;
    background: url(../images/btn_blue.png) no-repeat;
    display: inline-block;
    text-decoration: none;
    text-align: center;
    margin-top: 5px;
}

.mobile-download img {
    float: left;
    margin-top: 10px;
}

.mobile-download .icon {
    width: 114px;
    height: 90px;
    display: inline-table;
    margin-top: 7px;
}

img.qr-code {
  width: 90px;
  height: 90px;
}

img.img-responsive {
  max-width: 210px;
  max-height: 300px;
  width: auto;
  height: auto;
  object-fit: cover;
}
.pagination {
    display: inline-block;
    padding-left: 0;
    margin: 20px 0;
    border-radius: 4px;
    text-align: left;
}

.pagination > .page.current{
    background: #f15d69;
    color: #fff;
    border-color: #f15d69;
    padding: 10px;
    margin-right: 5px;
}

.pagination > .page > a, .pagination > .first > a, .pagination > .prev > a, .pagination > .last > a, .pagination > .next > a{
    color: #f15d69;
    padding: 10px;
    text-decoration: none;
    background-color: #fff;
    border: 1px solid #ddd;
}

.idol-name {
  font-size: 11px;
  color: #FFF;
}

footer {
    background: #29282b;
    text-align: center;
    padding: 150px 0px;
    margin-top: 50px;
}

.space50 {
    margin-bottom: 50px;
}

.clearlist, .clearlist li {
    list-style: none;
    padding: 0;
    margin: 0;
    background: none;
}

.socialList li {
    display: inline-block;
    text-transform: uppercase;
    font-family: 'Josefin Sans', sans-serif;
}

.socialList li a {
    display: inline-block;
    color: #fff;
    margin: 0px 20px;
}

.socialList li a span {
    margin-left: 10px;
}

footer p {
    font-size: 11px;
    letter-spacing: 4px;
    text-transform: uppercase;
    color: #fff;
}

.no-padding {
  padding:  0 !important;
}

.idol-avatar {
  width: 100%;
  margin-bottom: 20px;
}

.idol-info {
  font-size: 15px;
  color: #333;
}

.idol-info > a {
  color: #23d1b7;
  cursor: pointer;
}

.ranking > h6 {
    margin-top: 0;
    color: #fff;
    padding: 4px 0;
    text-align: center;
    letter-spacing: 1px;
    position: relative;
    z-index: 1;
    -webkit-animation: text_shadow 0.8s infinite;
    animation: text_shadow 0.8s infinite;
}

.ranking {
    width: 90%;
    /*background: #FD3866;*/
    position: absolute;
    height: auto;
    bottom: 0px;
    padding: 5px;
    z-index: 9999;
}

.ranking > h6 {
  font-size: 11px;
}

.ranking-cover {
    width: 92%;
    background: #FD3866;
    position: absolute;
    height: 30px;
    opacity: 0.2;
    bottom: 0px;
    padding: 5px;
    z-index: 100;
}

.thumb {
  height: 300px;
  cursor: pointer;
}

.thumb:hover .ranking-cover {
  opacity: 0.5;
}

.idol-image {
  height: 100%;
  width: 100%;
  left: 50%;
  top: 50%;
  background-position: center;
  background-size: cover;
  position: absolute;
  -webkit-transform: translate(-50%,-50%);
  -ms-transform: translate(-50%,-50%);
  transform: translate(-50%,-50%);
}

span.idol-rank {
  font-size: 11px;
}

ul.nav-tabs {
  border-bottom: 1px solid #eeeeee;
  margin-bottom: 20px;
}

.nav-tabs > li {
  border: 0 !important;
  width: 33%;
}

.nav-tabs > li.active > a  {
  color: #FD3866 !important;
}

.tab-pane {
  padding: 0 !important;
}

.ranking-idol-avatar {
  width: 40px;
  height: 40px;
}

.team-avatar {
  width: 70px;
  height: 70px;
}

.ranking-item h4 {
  width: 20px;
  color: #ff782e;
  padding-left: 5px;
}

.ranking-item center {
  float: left;
  width: 10px;
}

.ranking-item center .fa-caret-up {
  position: absolute;
  top: 8px;
  left: -5px;
  color: #aaaaaa;
}

.ranking-item center .fa-caret-down {
  position: absolute;
  top: 14px;
  left: -5px;
  color: #aaaaaa;
}

.ranking-item center .fa-caret-up.active, .ranking-item center .fa-caret-down.active {
  color: #21b384;
}

.ranking-item {
  margin-bottom: 10px;
}

.ranking-section {
  border: 1px solid #eeeeee;
}

a.link {
  color: #F48FB1;
}

a.link > h6 {
  font-weight: normal;
  font-size: 13px;
  margin-top: 10px;
  vertical-align: middle;
}

a.link:hover {
  text-decoration: none;
  color: #FD3866;
}

@media(max-width: 992px){
  .zone-content > .banner {
    height: 100px !important;
    width: 100%;
  }
  .zone-content > .banner > .banner-con {
    width: 100%;
  }

  .page-header {
    width: 100% !important;
  }

  .container {
    width: 100% !important;
  }

  .row {
    width: 100% !important;
  }

  .col-xs-6 {
    width: 100% !important;
  }

  .navbar-brand {
    margin-left: 40%;
  }

  .banner-slide {
    width: 100%;
  }

  .ranking-cover {
    height: 40px;
  }
}

.btn-submit {
  background-color: #337ab7;
  color: #FFF;
  border-color: #2e6da4;
}

.idol-submission {
  color: #23d1b7 !important;
  font-size: 13px !important;
  cursor: pointer;
}

a.idol-sumited {
  color: #333;
  display: inline-block;
  height: 37px;
  line-height: 37px;
  margin: 0;
  border-bottom: 3px solid #23d1b7;
  font-size: 24px;
  cursor: pointer;
}

a.idol-sumited:hover {
  text-decoration: none;
}

.manager-info {
  vertical-align: middle;
  text-align: center;
  padding-top: 5px;
}

.manager-name {
  font-size: 13px;
  width: 100%;
  display: inline;
}

.manager-contact {
  font-size: 13px;
  display: inline;
}

.manager-contact a {
  color: #333;
}
