
span.require {
  color: #ff0000;
}
.text_field {
  width: 40%;
}
#field_birthday {
  position: relative;
}
input#user_cellphone_system, input#user_network {
    border-top: none;
    border-right: none;
    border-left: none;
    width: 40%;
}
.text_field_time {
  width: 20%;
}
