
.require {
  color: #ff0000;
}
.text_field {
  width: 40%;
}
#field_birthday {
  position: relative;
}
input#user_cellphone_system, input#user_network {
    border-top: none;
    border-right: none;
    border-left: none;
    width: 40%;
}
.text_field_time {
  width: 20%;
}
.container1 {
  input[type=text], input[type=email] {
    border-top: none ;
    border-right: none;
    border-left: none;
    color: #d81365;
  }
  input[type=text]:focus,input[type=email]:focus {
    border-top: none ;
    border-right: none;
    border-left: none;
    box-shadow: none;
    border-bottom: 2px solid #3107ba ;
  }
  input[type=text]:blur,input[type=email]:blur {
    border-bottom: 1px solid #c9d0d6;
  }
}
.e_g {
  font-weight: 100;
}