<footer footer="" class="ng-scope">
  <div class="container">
    <div class="col-md-12">
    <a href="#page-top" class="page-scroll">
      <%= image_tag "footer-logo.png" %>
    </a>
    <div class="space50">
  </div>
  <ul class="clearlist socialList">
    <li><a target="“new”" href="https://www.facebook.com/itsmecasting/"><i class="fa fa-facebook"></i><span class="hidden-xs"> Facebook </span></a></li>
    <li><a target="new" href="https://twitter.com/me_casting_us"><i class="fa fa-twitter"></i><span class="hidden-xs">Twitter</span></a></li>
  </ul><hr><p>©everyone happy entertainment limited</p>
  </div></div>
</footer>