<nav class="header navbar navbar-default">
    <div class="hidden-xs">
        <div class="container" style="width: 990px">
            <ul class="no-signed pull-right list-inline">
                <li>
                    <a style="display:none" href="#" ud-role="sign-in"><i class="fa fa-user"></i> Sign In</a>
                </li>
                <li>
                    <a style="display:none" class="idol-submission" href="<%= new_guest_path %>">Signup</a>
                </li>
            </ul>
        </div>
    </div>

    <div>
        <div class="container" style="width: 1000px">
            <div class="navbar-header">
                <a class="navbar-brand" href="<%= root_path %>">
                    <%= image_tag "logo.png" %>
                </a>
            </div>
        </div>
    </div>
</nav>
