<div class="aside-nolog">
    <h3>FANPAGE</h3>
    <div class="mobile-download">
        <div class="fb-page" data-href="https://www.facebook.com/RDgirlsvn" data-width="260" data-small-header="false" data-adapt-container-width="true" data-hide-cover="false" data-show-facepile="true"><blockquote cite="https://www.facebook.com/RDgirlsvn" class="fb-xfbml-parse-ignore"><a href="https://www.facebook.com/RDgirlsvn">RD - Itsme</a></blockquote></div>
    </div>
</div>
<hr />
<div class="aside-nolog">
    <h3>DOWNLOAD</h3>
    <div class="mobile-download">

        <div class="icon">
            <%= image_tag "Icon_Googleplay.png" %>
            <a href="https://play.google.com/store/apps/details?id=media.itsme" target="_blank" class="btn05">Download</a>
        </div>
    </div>
    <div class="mobile-download">

        <div class="icon">
            <%= image_tag "Icon_Appstore.png" %>
            <a href="https://itunes.apple.com/app/id1089500702" target="_blank" class="btn05">Download</a>
        </div>
    </div>

</div>